body {
  background-color: #A7C6DA;
  color: #08090A;
}

h1 {
  font-family: garamond;
  text-align: center;
}

table, th, td {
  border-bottom: 1px solid #08090A;
  border-top: 1px solid #08090A;
  width: 200px;
  text-align: center;
  padding: 15px;
  font-size: 18pt;
}

tr:nth-child(odd) {
  background-color: #08090A;
  color: #FCEFEF;
}
tr:nth-child(even) {
  background-color: #FCEFEF;
  color:#08090A;
}
